*,*::before,*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fafafa;
	font-family: sans-serif;
	min-height: 100vh;
}

header {
	background: #039be5;
	padding: 1rem;
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}

h1 {
	margin: 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

main {
	width: 40%;
	background: #fff;
	margin: 2rem auto;
	box-shadow: 0px 3px 8px 3px rgba(0,0,0,.1);
	border-radius: 1px;
	position: relative;
}

h2 {
	margin: 0;
	background: #1e88e5;
	text-align: center;
	color: #fff;
	padding: .8rem;
}

.agregar {
	position: absolute;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	top: .3rem;
	right: 1.5rem;
	text-decoration: none;
	text-shadow: 0px 0px 10px rgba(0,0,0,.3);
	transition: all .3s;
}

.agregar:hover {
	text-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	background: #444;
	color: #fff;
}

th, td {
	padding: 1rem;
	text-align: left;
}

th {
	padding: .8rem 1rem;
}

.usuarios tr:nth-child(2n) {
	background: rgba(100,100,100,.1);
}

.usuario {
	position: relative;
}

.usuario tr {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.subtitle {
	font-weight: 600;
	border-right: 1px solid rgba(0,0,0,.1);
	width: 25%;
}

.content {
	text-align: center;
}

.btn {
	text-decoration: none;
	color: #fff;
	padding: .5rem .8rem;
	border-radius: 5px;
	transition: all .3s;
	font-weight: 600;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.verde {background: #080;}
.verde:hover {background: #0a0;}

.rojo {background: #800;}
.rojo:hover {background: #a00;}

.botones {
	position: absolute;
	padding-top: .5rem;
	bottom: 0;
	left: 0;
	transform: translateY(calc(100% + 10px));
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 100%;
}

.botones a {
	margin-right: .5rem;
}

form {
	padding: 1rem 2rem;
}

input[type="text"] {
	width: 100%;
	padding: .5rem;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.3);
	outline: none;
	transition: all .3s;
	text-align: center;
}

input[type="text"]:focus {
	border: 2px solid #039be5;
}

footer {
	position: absolute;
	bottom: 0;
	background: #039be5;
	padding: 1.5rem;
	width: 100%;
}

footer p {
	color: #fff;
	text-align: center;
	margin: 0;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	top: -100%;
	background: rgba(0,0,0,.3);
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: all .5s;
}

.modal > div {
	background: #fff;
	padding: 1.5rem 2rem;
	border-radius: 5px;
	width: 40%;
}

.modal > div > div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.modal button {
	width: 50%;
	margin: .5rem;
	padding: 1rem;
}

h4 {
	margin: 0 0 1rem;
	text-align: center;
	font-size: 32px;
}

.no {
	background: #800;
}

.no:hover {
	background: #600;
}